<section class="bg-light">
	<div id="hero-card-section" class="container section">
		<div class="content has-text-centered">
			<h1>1024 Km, 8 People, 2 Bikes, 1 Race.</h1>
		</div>
    <div class="columns is-centered">
      {#each cards as card}
        <HeroCard {...card} />
      {/each}
    </div>
	</div>
</section>

<style>
  #hero-card-section {
    /* width: 100vw; */
    min-width: 97.5vw;
    max-width: 97.5vw;
    /* margin-left: 0rem; */
    /* margin-right: 0rem; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
  }
</style>

<script>

  const teamText = `
The founders of the Quad Tandem World Championship, Team Canada, are the most experienced quad tandem riders in the world. They’ve smashed thousands of miles across Canada and the USA in support of various charities, raising in excess of $15,000 over the last 8 years of riding.

Now it’s time for their greatest challenge yet, holding the title of the Quad Tandem World Champions.

Four plucky young Brits hope to challenge the Canadian’s dominance of the quad tandem scene, in the age old battle of youth versus experience - but this time on long, heavy, 4 seater bicycles…

Check out the team pages to find out more.
  `;

  const causeText = `
Each team has selected a charity close to their hearts, and will be raising money and awareness throughout the race for both
charities.

Team GB has selected Mental Health Research UK (MHR UK), a charity dedicated to directly funding research into mental illness and it’s treatment. MHR UK ensures that 95% of all donated money is funnelled directly into research,
and funds a number of PhD scholarships across the UK.

Team Canada continues in supporting To Write Love on Her Arms (TWLOHA), an organisation that aims to present hope and help for those struggling with mental illness. TWLOHA works directly with sufferers of depression, addiction and self harm; helping to bridge the gap between traditional medical help and those in need.

Check out the links below to send a donation our way, or find out more.
  `;

  const raceText = `
The challenge takes the form of an ultra endurance stage race, with the teams racing over 1000 km down the Pacific coast. The route takes us through forests, up over mountains, and terrifyingly back down them on machines weighing over 800 lb’s (360kg).

From the kick off at the start line in Portland, Oregon all the way to the checkered flag in San Francisco, California, this will be a truly unmissable event of incredible scenery, huge distances, and questionable beards.

Follow us on social media to see our very own film crew in action, and stay up to date with every breakdown,soul-destroying climb and white-knuckle descent.
`

  export default {
    components: {
      HeroCard: './HeroCard.html'
    },
    data: () => ({
      cards: [
        {
          imagePath:'imgs/angus-aero.png',
          title: 'Teams',
          bodyText: teamText,
          buttonText:'See the Teams',
          buttonDest:'/teams',
        },
        {
          imagePath:'imgs/love-circle.jpg',
          title: 'Causes',
          bodyText: causeText,
          buttonText:'See the Causes',
          buttonDest:'/causes',
        },
        {
          imagePath:'imgs/map-route-circle.png',
          title: 'Race',
          bodyText: raceText,
          buttonText:'See the Route',
          buttonDest:'/race',
        },
      ]
    }),
  }
</script>