

<section id="hero" class="hero is-landing is-large blur-bg">
	<div class="hero-body">
		<div class="container has-text-centered">

			<div class="columns is-centered">
				<div class="column is-8">
					<p>Introducing the first ever:</p>
					<h1 class="title big-text">
						Quad Tandem World Championships
					</h1>
					<h2 class="subtitle is-4">
						In support of:
					</h2>
				</div>
			</div>
			<div class="columns is-mobile is-centered is-vcentered is-gapless" style="margin-bottom: 1rem;">
				<div class="column is-half">
					<a class="is-pulled-right is-clearfix" href="http://www.mentalhealthresearchuk.org.uk/">
						<img class="cause-img mhruk" src="imgs/mental_health_research.png" alt="Mental Health Research UK">
					</a>
				</div>
				<div class="column is-half">
					<a class="is-pulled-left is-clearfix" style="margin-left: 5rem;" href="https://twloha.com/">
						<img class="cause-img to-write" src="imgs/to_write_love.svg" alt="To Write Love on Her Arms">
					</a>
				</div>
			</div>
		</div>
		<div class="columns is-centered is-mobile">
			<div class="column is-narrow">
				<a class='button is-large hero-button' href='donate'>Donate Now</a>
			</div>
		</div>
		<div class="vertical-space"></div>
	</div>
</section>

<style>

	#hero {
		background-color: #7696bc;
		background-image: url('imgs/padded-arm-up.jpg');
		background-size: 100%;
    background-repeat: no-repeat;
		background-position: bottom 0 left 0;
	}

	#section-below-hero {
		height: 0rem;
		display: block;
		position: relative;
	}

	#hero-img {
		position: relative;
		width: 100%;
		/* z-index: -1; */
		bottom: calc(75.5vw + -0.5rem);
		filter: blur(0.175vw);
	}
</style>