<div class="column">
  <div class="card">
    <header class="card-header">
      <div class="columns is-mobile is-vcentered">
        <div class="column is-narrow">
          <img class='card-img' src='{imagePath}'>
        </div>
        <div class="column has-text-centered">
          <h1 class="title card-title medium-text">
            <span class='card-the'>The</span>
            <br>{title}</h1>
        </div>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <p style="white-space: pre-wrap;">
          {bodyText}
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="{buttonDest}" class="card-footer-item">{buttonText}</a>
      <a href="/donate" class="card-footer-item">Donate</a>
    </footer>
  </div>
</div>