<section class="bg-white">
  <div class="container section">
    <div class="columns is-vcentered">
      <div class="column">
        <figure class="image">
          <img src="imgs/lost-people.jpg" alt="">
        </figure>
      </div>
      <div class="column ">
        <div class="content">
          <h1>How can you help?</h1>
          <p>There's loads of ways to support the causes.
          </p>

          <a href="" class="button is-danger">Social Media</a>
        </div>

      </div>
    </div>
  </div>
</section>