<nav class="navbar" style="background-color: #00000000;">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				Tandem Tour Foundation
			</a>
			<span class="navbar-burger burger" data-target="mainNavbar">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="mainNavbar" class="navbar-menu">
			<div class="navbar-end">
				<a href="/causes" class="navbar-item">
					Causes
				</a>
				<a href="/teams" class="navbar-item">
					Teams
				</a>
				<a href="/route" class="navbar-item">
					Route
				</a>
				<a href="/faq" class="navbar-item">
					FAQ
				</a>
				<span class="navbar-item navbar-big-button">
					<a href="/donate" class="button is-info is-inverted is-outlined">
						<span>Donate Now</span>
					</a>
				</span>
			</div>
		</div>
	</div>
</nav>

<style>
	nav * {
		color: #ffffff;
	}

	.navbar-item:hover {
		background: 0x00000000;
		border-bottom: 1px solid white;
	}
	
	a:hover {
		background: #7898bf00;
	}

	.navbar> * {
		background-color: #7898bf00;
		border-bottom: 1px solid 0x00000000;
	}

	.navbar-menu.is-active {
		background-color: #7898bf;
	}

	.navbar-item.navbar-big-button:hover {
		background: #7898bf00;
		border-bottom: 0px;
	}

	.navbar-item.navbar-big-button>a:hover {
		background: #7898bf00;
		/* box-shadow: 4px 4px 3px black; */
		border-color: slategrey;
	}
</style>